os: Ubuntu1804
platform:
  - x64
install:
  - sudo apt-get update && sudo apt-get install -y bridge-utils dnsmasq-base ebtables libvirt-bin libvirt-dev qemu-kvm qemu-utils ruby-dev
  - sudo wget -nv https://releases.hashicorp.com/vagrant/2.2.9/vagrant_2.2.9_x86_64.deb
  - sudo dpkg -i vagrant_2.2.9_x86_64.deb
  - sudo vagrant plugin install vagrant-scp vagrant-reload vagrant-vbguest
  - sudo apt-get -y remove --purge virtualbox-6.1
#  - sudo wget -nv https://download.virtualbox.org/virtualbox/5.2.22/virtualbox-5.2_5.2.22-126460~Ubuntu~bionic_amd64.deb
#  - sudo dpkg -i virtualbox-5.2_5.2.22-126460~Ubuntu~bionic_amd64.deb
#  - sudo cat /var/log/vbox-setup.log
  - sudo apt-get -y install virtualbox-5.2
  - sudo vagrant box add cdaf/WindowsServerDC --provider virtualbox --box-version 2020.05.14
  - sudo pwd
  - sudo ls -lR
  - sudo sed -i 's/<Display controller="VBoxSVGA" VRAMSize="128"/>//g' ./
build_script:
  - vboxmanage --version
  - sh: |
      until sudo vagrant up dc --provider=virtualbox
      do
        sudo vagrant destroy --force
        echo "Try again"
      done
test: off
